:root {
  --title-color: rgb(16, 249, 249);
  --main-color: #fafafa;
  --background-color: rgb(1, 1, 35);
  --border-color: #af3264;
}
body {
  background: var(--background-color);
  font-family: "Comfortaa", cursive;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--main-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--title-color);
  text-shadow: 1.5px 1.1px var(--border-color);
}

h2 {
  color: var(--title-color);
  text-shadow: 2px 2px var(--border-color);
}

h3 {
  font-size: 24px;
  color: var(--main-color);
}

.logo-small {
  font-size: 25px;
  color: var(--title-color);
  text-shadow: 2px 1.1px var(--border-color);
}
.content-container {
  padding: 110px 20px 110px 20px;
}
.content {
  margin: 30px;
  padding-top: 40px;
}

.name {
  font-size: 80px;
  color: var(--title-color);
  text-shadow: 2px 2px var(--border-color);
}
.developer {
  margin: 0px 0px 0px 40px;
  font-size: 18px;
}
.profile-picture {
  border-radius: 80px;
  transition: all 100ms ease-in-out;
}
.profile-picture:hover {
  box-shadow: 5px -5px 10px var(--border-color);
}
.contact-button {
  display: flex;
  justify-content: space-evenly;
}
.contact-button a {
  text-decoration: none;
  color: var(--main-color);
}

.linkedin-button {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  position: relative;
  background-color: var(--background-color);
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 40px;
}
.github-button {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  position: relative;
  background-color: var(--background-color);
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 40px;
}

.github-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: linear-gradient(
    150deg,
    rgba(210, 64, 116, 1),
    rgba(101, 24, 180, 1)
  );
  background-size: 400%;
}

.linkedin-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: linear-gradient(
    -45deg,
    rgba(147, 88, 247, 1),
    rgba(16, 215, 226, 1)
  );
  background-size: 400%;
}

.made-by {
  color: var(--main-color);
  text-align: center;
  font-size: 10px;
}

.about-container {
  padding: 60px 20px 30px;
}
.about-paragraph {
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-color);
  margin: 40px;
  letter-spacing: 1.5px;
}

.skills-container {
  display: flex;
  margin: 32px;
  padding: 10px;
}

.skills-items {
  flex-wrap: wrap;
  gap: 80px 150px;
  position: relative;
  display: flex;
}

.github-icon {
  font-size: 80px;
  color: rgba(147, 88, 247, 1);
}

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10%;
  margin: 30px;
  padding: 26px;
}

.weather-app-image {
  width: 80%;
  border-radius: 25px;
}

.project-titlle {
  color: var(--title-color);
  text-shadow: 1px 1px var(--border-color);
  margin-top: 10px;
  margin-bottom: 8px;
  display: block;
  text-decoration: none;
  font-size: 25px;
}

.project-titlle:hover {
  color: var(--title-color);
}

.project-description {
  color: var(--main-color);
  font-size: 13px;
  line-height: 25px;
}

.btn-project {
  border: 3px solid var(--title-color);
  text-decoration: none;
  color: var(--main-color);
  text-shadow: 1px 1px var(--border-color);
}

.btn-project:hover {
  border: 3px solid var(--border-color);
  color: var(--main-color);
}

.coming-soon-image {
  width: 50%;
}

.contact-links a {
  justify-content: space-evenly;
  margin: 0 20px;
  color: var(--title-color);
  font-size: 20px;
  padding: 5px;
}

@media (max-width: 900px) {
  nav ul {
    margin-right: 20px;
  }

  nav a {
    font-size: 15px;
  }

  nav li.active a {
    text-shadow: 2px 1px var(--border-color);
  }

  h3 {
    font-size: 28px;
  }
  .logo-small {
    margin-top: 9px;
    font-size: 20px;
    text-shadow: 2px 1px var(--border-color);
    margin-left: 5px;
  }

  .content-container {
    padding: 35px 20px;
    text-align: center;
  }

  .developer {
    margin: 0;
  }

  .contact-button {
    padding: 20px 0;
  }

  .name {
    font-size: 42px;
  }

  .profile-picture {
    padding: 40px 10px;
    border-radius: 80px;
  }

  .about-container {
    padding: 40px 20px;
  }

  .about-paragraph {
    font-size: 18px;
    letter-spacing: normal;
    margin: 20px;
    text-align: center;
  }

  .skills-container {
    margin: 15px;
    padding: 0;
  }

  .skills-items {
    gap: 15px 50px;
    justify-content: center;
  }

  .skills-items img {
    width: 50px;
  }

  .github-icon {
    font-size: 50px;
  }

  .work-container {
    margin: 30px 20px;
    padding: 10px;
    display: block;
  }

  .project-description {
    font-size: 18px;
  }

  .weather-app-image {
    width: 90%;
  }

  .work {
    padding: 40px 0px 90px 0px;
  }
}
